:root {
    --clr-btn-bg: #333;
    --clr-btn-hover: #555;
    --clr-text-light: #ffffff;

    --clr-error-bg: #ffe6e6;
    --clr-error-border: #b30000;
    --clr-error-text: #b30000;
}

body {
    margin: 10em;
    font-family: sans-serif;
}

#booking-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 600px;
    margin: 0 auto;
}

#booking-form label {
    flex: 1 1 100%;
}


#booking-form input,
#booking-form button {
    flex: 1 1 calc(50% - 1em);
    padding: 0.5em;
    font-size: 1em;
}

#booking-form button {
    background-color: var(--clr-btn-bg);
    color: var(--clr-text-light);
    border: none;
    cursor: pointer;
    padding: 0.75em 1.25em;
    border-radius: 0.375em;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out;
}

#booking-form button:hover {
    background-color: var(--clr-btn-hover);
}

#global-error {
    flex: 1 1 100%;
    background-color: var(--clr-error-bg);
    color: var(--clr-error-text);
    padding: 1em;
    margin: 1em;
    border: 1px solid var(--clr-error-border);
    border-radius: 5px;
    display: none;
}